*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root{
  --rotation:0deg;
}

body {
  height: 100vh;
  width: 100vw;
  background: url('/images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock {
  height: 60%;
  position: relative;
  aspect-ratio: 1;
  border: white solid 22px;
  padding: 1px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2),
    inset 0 0 0 3px hsla(0, 0%, 94%, 0.698),
    inset 0 0 10px black;
}
.clock .hand{
  position: absolute;
  left: 50%;
  height: 45%;
  transform: translateX(-50%);
  transform-origin: bottom;
  transform: translateX(-50%);
  bottom: 50%;
  
  background-color: black;
}
.clock .hour{
  border: solid black 3px;
  width: 3px;
  height: 25%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

}
.clock .second{
  border: solid hsl(0, 100%, 50%,0.5) 1px;
  background-color: hsl(0, 100%, 50%,0.5);
  width: 3px;
  height: 47%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.clock .minute{
  border: solid black 2px;
  width: 3px;
  height: 45%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.clock .number{
  position: absolute;
  transform: rotate(var(--rotation));
  width: 100%;
  padding: 5px;
  height: 100%;
  text-align: center;
}
.clock .number1{--rotation: 30deg;}
.clock .number2{--rotation: 60deg;}
.clock .number3{--rotation: 90deg;}
.clock .number4{--rotation: 120deg;}
.clock .number5{--rotation: 150deg;}
.clock .number6{--rotation: 180deg;}
.clock .number7{--rotation: 210deg;}
.clock .number8{--rotation: 240deg;}
.clock .number9{--rotation: 270deg;}
.clock .number10{--rotation: 300deg;}
.clock .number11{--rotation: 330deg;}

/* .clock::after{
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  z-index: 12;
  border-radius: 50%;
  background-color: black;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
} */